package templates

import (
    "github.com/skywall34/portfolio/internal/models"
)

templ Home(data models.PageData) {
    @Layout(data.Title,
        Navbar(),
        Banner(),
        Profile(),
        Skills(data.Skills),
        Experience(),
        Projects(data.Projects),
        Blogs(data.Blogs),
        Contact(),
    )
}